.board{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 70vmin;
    height: 70vmin;
    margin: 30px;
    /* gap: 2px; */
}

.cell{
    border: 3px solid #eaeaea;
    border-radius: 50%;
    background-color: #D5CFE1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
}

/* .board .cell:nth-child(3n + 3){
    margin-right: 5px;
}

.board .cell:nth-child(n+19):nth-child(-n+28){
    margin-bottom: 5px;
}

.board .cell:nth-child(n+36):nth-child(-n+55){
    margin-bottom: 5px;
} */

.selected-cell{
    background-color: gray;
    color: white;
}

.disabled-cell{
    background-color: white;
}
