.board{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 70vmin;
    height: 70vmin;
    margin: 30px;
    /* gap: 2px; */
}

.cell{
    border: 3px solid #eaeaea;
    background-color: #D5CFE1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.cell-circle{
    border-radius: 50%;
}


/* first and second vertical lines with some extra columns */
.board .cell:nth-child(3n + 3){
    border-right: 3px solid black;
}
.board .cell:nth-child(3n + 4){
    border-left: 3px solid black;
}

/* removing those extra columns from the vertical lines */
.board .cell:nth-child(9n){
    border-right: 3px solid #eaeaea;
}
.board .cell:nth-child(9n + 1){
    border-left: 3px solid #eaeaea;
}

/* first horizontal line */
.board .cell:nth-child(n+19):nth-child(-n+27){
    border-bottom: 3px solid black;
}
.board .cell:nth-child(n+28):nth-child(-n+36){
    border-top: 3px solid black;
}

/* second horizontal line */
.board .cell:nth-child(n+46):nth-child(-n+54){
    border-bottom: 3px solid black;
}
.board .cell:nth-child(n+55):nth-child(-n+63){
    border-top: 3px solid black;
}

.selected-cell{
    background-color: gray;
    color: white;
}

.disabled-cell{
    background-color: white;
}
