.game {
    width: 100vw;
    height: 90vh;
    background-color: #9646ff;
    display: flex;
    justify-content: space-evenly;
}

.new-gaame{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-100%, -100%);
}

